/* none */

#listButton {
    qproperty-icon: url({{taskIcon}});
}

#histButton {
    qproperty-icon: url({{historyIcon}});
}

#settButton {
    qproperty-icon: url({{settingsIcon}});
}

#profButton {
    qproperty-icon: url({{profileIcon}});
}

/* main menu button */
QPushButton#menuButton {
   border: none;
   qproperty-icon: url({{menuIcon}});
}